apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: python-app-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: example.com       # can be empty if testing locally
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: python-app-service   # Must match your Service name
                port:
                  number: 5000
